
		<div id="site-content">
			<header class="site-header">
				<div class="primary-header">
					<div class="container">
						<a href="index.html" id="branding">
							<img src="/static/images/logo.png" alt="Lincoln high School">
							<h1 class="site-title">全能珠算美術短期補習班</h1>
						</a> <!-- #branding -->

						<div class="main-navigation">
							<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
							<ul class="menu">
								<li class="menu-item"><a href="/">Home</a></li>
								<li class="menu-item"><a href="/course">Courses</a></li>
								<li class="menu-item"><a href="/student">Students</a></li>
								<li class="menu-item"><a href="/event">Events</a></li>
								<li class="menu-item"><a href="/contact">Contact</a></li>
							</ul> <!-- .menu -->
						</div> <!-- .main-navigation -->

						<div class="mobile-navigation"></div>
					</div> <!-- .container -->
				</div> <!-- .primary-header -->

				<div class="page-title">
					<div class="container">
						<h2>Contact Us</h2>
					</div>
				</div>
			</header>
		</div>
