<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<title>{%block head_title%}ShowTime English{%endblock head_title%}</title>
    {%include 'snippets/css.html'%}
  </head>
	<body>
{%include 'snippets/header.html'%}

{%block content%}{%endblock content%}

{%include 'snippets/footer.html'%}

{%include 'snippets/js.html'%}
	</body>

</html>
